html {
    font-family: sans-serif;
  }

  body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    background-color: aquamarine;
  }
  
  .form input[type="number"] {
    width: 200px;
  }

  .lastResult {
    color: aquamarine;
    padding: 3px;
  }